:root {
  --color-primary: #687a6f;
  --color-secondary: #b3b1ac;
  --color-accent: #e5d1d0;
  --color-background: #f5e4d7;
  --color-card: #faf7f4;
  --color-section: #e9dbce;
  --color-font-light: #ffffff;
  --color-font-dark: #2b2b2b;
  --color-neutral: #687a6f;

  --font-heading: "playfair display", serif;
  --font-body: inter, sans-serif;

  /* font sizes -- desktop */
  --font-size-hero: 64px;
  --font-size-section-title: 40px;
  --font-size-subheader: 28px;
  --font-size-body-small: 16px;
  --font-size-body-large: 18px;

  /* font height */
  --font-height-hero: 110%;
  --font-height-section-title: 115%;
  --font-height-subheader: 120%;

  /* font sizes -- mobile */
  --font-size-hero-mobile: 32px;
  --font-size-section-title-mobile: 24px;
  --font-size-subheader-mobile: 20px;
  --font-size-body-small-mobile: 14px;
  --font-size-body-large-mobile: 16px;

  /* font weight */

  --font-weight-hero: bold;
  --font-weight-section-title: semi-bold;
  --font-weight-subheader: regular;
}
