Colors {
  --color-primary: #687a6f;
  --color-secondary: #b3b1ac;
  --color-accent: #e5d1d0;
  --color-background: #f5e4d7;
  --color-card: #faf7f4;
  --color-section: #e9dbce;
  --color-font-light: #ffffff;
  --color-font-dark: #2b2b2b;
  --color-neutral: #687a6f;
}

Typography {
  --font-heading: ;
  --font-body: ;
  --font-size-hero: 64px;
  --font-weight-hero: bold;
  --font-height-hero: 110%;
  --font-size-section-title: 40px;
  --font-weight-section-title: semi-bold;
  --font-height-section-title: 115%;
  --font-size-subheader: 28px;
  --font-weight-subheader: regular;
  --font-height-subheader: 120%;
  --font-size-body-small: 16px;
  --font-size-body-large: 18px;
}
